<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link" style="margin-left:10px;">
        <img src="/assets/images/logo.jpg" alt="ITR Logo" style="height: 60px;
        width: 180px;">
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img class="direct-chat-img" src='/assets/images/avatar2.png' alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Deepak Singh</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="dashboard" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="student" class="nav-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            Student
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="student" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>List Students</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Add Students</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Parent
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>List Parents</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>
                            Teacher
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>List Teachers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Add Teachers</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            User
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                            Academic
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Class</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Section</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Subject</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Syllabus</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Assignment</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Routine</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Attendance
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Student Attendance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Teacher Attendance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>User Attendance</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hourglass-end"></i>
                        <p>
                            Exam
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Exam</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Exam Schedule</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Grade</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Exam Attadence</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-marker"></i>
                        <p>
                            Mark
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Mark</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Mark Distribution</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Promotion</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>
                            Message
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-photo-video"></i>
                        <p>
                            Media
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-rupee-sign"></i>
                        <p>
                            Payroll
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Manage Salary</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Make Payment</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            School Store
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>AssetCategory</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>AssetDetails</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Asset Assignment</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Leave Application
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Leave Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Leave Assign</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Leave Apply</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Leave Application</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-skating"></i>
                        <p>
                            Activities
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book-reader"></i>
                        <p>
                            Library
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Members</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Books</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Issue</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>E-Books</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bus"></i>
                        <p>
                            Transport
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Transports Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Members</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hotel"></i>
                        <p>
                            Hostel
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Hostel Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Hostel Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Members</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Issue Hotels</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-wallet"></i>
                        <p>
                            Account
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Fee Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Invoice</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Payment History</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Expense</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Income</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Student Fee Collection
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Announcement
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Notice</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Event</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Holiday</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Online Admission
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-eye"></i>
                        <p>
                            Visitor Information
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-toolbox"></i>
                        <p>
                            Administrator
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Academic Year</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Student Group</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Complain</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>System Admin</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Change Password</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Import</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Backup</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Role</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Permission</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Settings
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>School General Setting</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-archive"></i>
                        <p>
                            Reports
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Class Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Student Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>ID Card Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Admit Card Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Routine Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Exam Schedule Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Attendance Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Library Books Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Library Card Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Library Book Issue Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Mark Sheet Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Progress Card Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Online Exam Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Online Admission Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Certificate Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Leave Application Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Fees Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Salary Report</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" target="_self" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Office Expense Report</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>